name: Release

on:
  push:
    branches:
      - master

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      # keep node.js 14 to use NPM 6,
      # wait to fix: https://github.com/atlassian/changesets/issues/397
      - name: Setup Node.js 14
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Intall Dependencies
        run: |
          npm --version
          npm ci

      - name: Build
        run: npm run ci:build
        env:
          SHOW_SPAWN_CMD: true
          CI: true

      - name: Create Release Pull Request or Publish to NPM
        if: ${{ github.ref == 'refs/heads/master' }}
        id: changesets
        uses: changesets/action@master
        with:
          # This expects you to have a script called release which does a build for your packages and calls changeset publish
          publish: npm run release
          version: npm run version
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}